.vacancy-page__container {
  margin: 0 auto;
  width: 650px;
  list-style: none;
}

.vacancy-page__vacancy-card {
  margin-bottom: 20px;

  background-color: white;
}

.vacancy-page__vacancy-snippet {
  padding: 24px;
  border-radius: 12px;

  text-align: left;

  background-color: white;
}
